/* css page : createEmployee */

form {
    margin: 0px 0px 10px 0px;
}

input,
select {
    border-radius: 12px;
    height: 30px;
    font-size: 18px;
    border-width: 2px;
    border-style: outset;
    border-color: gray;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.containerCreateEmployee {
    width: 90%;
}

.containerTitle {
    float: left;
    width: 115px;
    height: 110px;
    background-color: #035728;
    border-radius: 50%;
    margin: -40px 0px 0px 35px;
}

.title {
    width: 115px;
    height: 110px;
    color: #fffefe;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.nav {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.elementNav {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 65px auto 0px auto;
    width: 63%;
}

label {
    display: block;
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 600px;
    margin: 15px;
    border: 3px solid #035728;
    border-radius: 5px;
    padding: 15px 40px 20px 40px;
    grid-gap: 11px 100px;
}

.fieldsetIdentity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.street {
    grid-area: street;
}

.city {
    grid-area: city;
}

.state {
    grid-area: state;
}

.zipCode {
    grid-area: zipCode;
}

.fieldsetAdress {
    display: grid;
    grid-template-areas: "street street" "city state" "zipCode . ";
    grid-template-columns: 1fr 1fr;
}

.fieldsetDepartment {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

legend {
    width: 100px;
    padding: 7px 35px 7px 23px;
    background: #035728;
    border-radius: 5px;
    font-size: 18px;
    color: #fffefe;
}

.btnSave {
    width: 110px;
    height: 40px;
    border: none;
    background-color: #035728;
    color: #fffefe;
    border-radius: 5px;
}

.btnSave:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 0.8em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #0357278e;
    }
}


/* css page : EmployeeList */